* {

  margin: 0;
  padding: 0;

}

.background {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.header {

  width: 632px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;

}