.taskCard {

    background-color: black;
    width: 520px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;

}

.task {

    transition: all 0.5s;
    width: 400px;
    background-color: #333333;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 12px;
    
}

.task:hover {

    cursor: pointer;
    background-color: #555555;

} 

.taskCardText {

    font-family: Tahoma;
    font-size: 20px;
    color: white;

}