.block {

    transition: all 0.5s;
    height: 100%;
    width: 200px;
    background-color: #222222;
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.block:hover {

    cursor: pointer;
    background-color: #333333;

}