.inputResetSection {

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.topRow {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;

}

.bottomRow {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;

}