.submitButton {

    transition: all 0.5s;
    height: 48px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    outline: none;
    background-color: #111111;
    border: 0;

}

.submitButton:hover {

    cursor: pointer;
    background-color: #333333;

}

.arrow {

    background-image: url("../assets/right-arrow-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;

}