* {

  margin: 0;
  padding: 0;

}

.background {

  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

.cards {

  display: flex;
  flex-direction: column;
  margin-right: 12px;

}

.container {
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;

}

.placeholder {

  width: 60%;

}