.icon {

    background-image: url("../assets/play.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    margin-left: 20px;

}

.playButton {

    background-color: transparent;
    border: 0;
    outline: none;

}

.playButton:hover {

    cursor: pointer;

}